@charset
@import url(https://fonts.google.com/share?selection.family=Josefin+Sans:ital,wght@0,100..700;1,100..700)

body {
    background-color: seashell;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px auto 0px auto;
}

div#interface {
    width: 900px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    border-radius: 10px;
}

header#cabecalho h1 {
    color: pink;
    text-align: center;
}

footer#footer1 {
    clear:both;
}

